In [2]:
import pandas as pd

In [8]:
frame = pd.DataFrame({'numbers': range(10), 'chars': ['aa']*10})
frame

   numbers chars
0        0    aa
1        1    aa
2        2    aa
3        3    aa
4        4    aa
5        5    aa
6        6    aa
7        7    aa
8        8    aa
9        9    aa